* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Quicksand, sans-serif;
}

.main-container {
    max-width: 1400px;
    padding: 16px 40px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .main-container {
        padding: 20px 80px;
    }
}

img {
    width: 100%;
    height: auto;
    max-width: 60px;
}

.category {
    padding: 35px;
    border-bottom: 2px dashed #1124;
}

.category-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.product {
    padding: 20px;
    background-color: #1121;
    min-width: 220px;
    border-radius: 5px;
}

.product-img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.product-category {
    font-size: 14px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
}

.product-category-value {
    font-weight: 700;
}

.product-category:not(:last-child) {
    margin-bottom: 5px;
}